<div class="page-container">	   
	<div class="mother-grid-inner">
        <!--header start here-->
			<div class="header-main">
					<div class="header-left">
						<div class="logo-name">
							<a href="index.html"> <h1>my<span class="sub-brand">CareerNext</span></h1> 
								<!--<img id="logo" src="" alt="Logo"/>--> 
							</a> 								
						</div>
						<div class="clearfix"> </div>
					</div>						
					<div class="header-right">
						<div class="nav_details">		
							<ul>
									<li class="dropdown nav_details_drop">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">												
												<div class="nav-link">
													<p>Learn</p>													
												</div>
												<i class="fa fa-angle-down lnr"></i>
												<i class="fa fa-angle-up lnr"></i>
												<div class="clearfix"></div>											
										</a>
										<ul class="dropdown-menu drp-mnu">
											<li> <a href="#">Link1</a> </li> 
											<li> <a href="#">Link2</a> </li> 
											<li> <a href="#">Link3</a> </li>
										</ul>
									</li>
									<li class="dropdown nav_details_drop">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">												
												<div class="nav-link">
													<p>Network</p>													
												</div>
												<i class="fa fa-angle-down lnr"></i>
												<i class="fa fa-angle-up lnr"></i>
												<div class="clearfix"></div>											
										</a>
										<ul class="dropdown-menu drp-mnu">
											<li> <a href="#">Link1</a> </li> 
											<li> <a href="#">Link2</a> </li> 
											<li> <a href="#">Link3</a> </li>
										</ul>
									</li>
									<li class="dropdown nav_details_drop">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">												 
											<div class="nav-link">
												<p>Evaluate</p>													
											</div>
											<i class="fa fa-angle-down lnr"></i>
											<i class="fa fa-angle-up lnr"></i>
											<div class="clearfix"></div>											
										</a>
										<ul class="dropdown-menu drp-mnu">
											<li> <a href="#">Link1</a> </li> 
											<li> <a href="#">Link2</a> </li> 
											<li> <a href="#">Link3</a> </li>
										</ul>
									</li>
									<li class="dropdown nav_details_drop">
										<a href="#" class="dropdown-toggle">	
										<div class="nav-link">
											<p>Jobs</p>													
										</div>												
										<div class="clearfix"></div>	
										</a>
									</li>
								</ul>
						</div>
							
						<div class="profile_details">		
								<ul>
									<li class="dropdown profile_details_drop">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<div class="profile_img">	
												<span class="prfil-img"><img src="../assets/p1.png" alt="" height="30"> </span> 
												<div class="user-name">
													<p>Sangeeta</p>													
												</div>
												<i class="fa fa-angle-down lnr"></i>
												<i class="fa fa-angle-up lnr"></i>
												<div class="clearfix"></div>	
											</div>	
										</a>
										<ul class="dropdown-menu drp-mnu">
											<li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li> 
											<li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li> 
											<li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>
										</ul>
									</li>
								</ul>
							</div>
						<div class="clearfix"> </div>				
						</div>
				     <div class="clearfix"> </div>	
				</div>
		<!--heder end here-->
	<!-- script-for sticky-nav -->
		<script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop(); 
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });
			 
		});
		</script>
		<!-- /script-for sticky-nav -->
		
		<!--inner block start here-->
		<div class="inner-block">
			<div class="left-content">
				<div class="ledger-report">	
				<div class="col-md-12">
					<div class="col-lg-9 col-md-9 col-sm-8 col-xs-6"><div class="component-header">Ledger</div></div>
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 pad-0">
						<div class="dropdown">
						  <button class="dropbtn"><span class="dropdown-txt">{{selectedDropdownValue.label}}</span><i class="fa fa-caret-down lnr"></i></button>
						  <div class="dropdown-content">
							  <a *ngFor="let dr of dropdowndata" (click)="loaddata(dr)">{{dr.label}}</a>
						  </div>
						</div>
					</div>
					<div class="clearfix"> </div>
					<div class="work-progres" *ngIf="data">                           
						<div class="table-responsive">	
							<table class="table table-hover">
							<thead>
							  <tr>
								<th>Particulars</th>
								<th>Credit</th>
								<th>Debit</th>
								<th>Balance</th>
							  </tr>
							</thead>
							<tbody>						
								<tr *ngFor="let record of data?.transaction_records">                                  
									<td><strong>{{record.particular}}</strong><br>
						<div class="datetime-span"><span><img src="../assets/clock-calendar-icon.png" alt="" height="12" /> </span>
						  {{record.transaction_date | date : 'd MMM y, h:mm a'}}
						</div>
									</td>
									<td>
						<span class="label" [ngClass]="{'label-credit': record.is_debit == '0', 'label-blank' : record.is_debit == '1' }">{{ record.is_debit == '0' ? '+'+record.transaction_amount : '-' }}</span>
					  </td>
									<td><span class="label" [ngClass]="{'label-debit': record.is_debit == '1', 'label-blank' : record.is_debit == '0' }">{{ record.is_debit == '1' ? '-'+record.transaction_amount : '-' }}</span></td>
									<td>
									<div class="button-balinfo"><div><span class="money-icon"><img src="../assets/money-icon.png" alt="" height="12" /> </span>{{record.balance_amount}}</div></div>
									</td>
								</tr>
							</tbody>
						  </table>
						</div>
					</div>
				</div>
			  </div>
			</div>
			
			<div class="right-content">
				<!--balance info starts-->
				<div class="balance-info col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="balance-info-gd">
						<div class="component-header ml-header">Balance Info</div>
						<div class="balance-info-block clr-block-1">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 icon-container icon-container-pink">
								<button type="button" class="btn-icon btn-icon-pink"><i class="fa fa-dollar"></i>
								</button>
							</div>	
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 balance-info-right">
								<!-- <h3>750</h3> -->
								<h3>{{data?.available_balance}}</h3>
								<h6>Available balance</h6>	
							</div>					
							<div class="clearfix"> </div>
						</div>		
					
						<div class="balance-info-block clr-block-2">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 icon-container icon-container-green">
								<button type="button" class="btn-icon btn-icon-green"><i class="fa fa-dollar"></i>
								</button>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 balance-info-right">
								<!-- <h3>500</h3> -->
								<h3>{{data?.total_tokens_credited}}</h3>
								<h6>Total Credited</h6>												
							</div>					
							<div class="clearfix"> </div>
						</div>
					
					
						<div class="balance-info-block clr-block-3">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 icon-container icon-container-dpink">
								<button type="button" class="btn-icon btn-icon-dpink"><i class="fa fa-dollar"></i>
								</button>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 balance-info-right">
								<!-- <h3>690</h3> -->
								<h3>{{data?.total_tokens_debited}}</h3>
								<h6>Total Debited</h6>						
							</div>					
							<div class="clearfix"> </div>
						</div>
						<div class="mar0">
							<button type="button" class="spend-button">SPEND TOCKENS</button>
						</div>
					
					<div class="clearfix"> </div>
				</div>
				<!--balance info end here-->
				</div>
			</div>
			<div class="clearfix"> </div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mar0">
				<button type="button" class="support-button"><i class="fa fa-headphones pr-5" aria-hidden="true"></i>SUPPORT</button>
			</div>					
		</div>
	</div>
</div>

