/* You can add global styles to this file, and also import other style files */

h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
  font-family: 'Work Sans', sans-serif;
   font-size: 100%;
   background:#fafafa; 
}
a {
  text-decoration: none;
}
a:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration:none;
}
.fixed{
	position: fixed;
	top: 0;
	 width:100%;
    margin: 0 auto;
	z-index: 1;
	background:#fff;
}
/*--header main start here--*/
.page-container {
  min-width: 1260px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}
.left-content {
    float: left;
    width: 70%;
}
.right-content {
    float: right;
    width: 30%;
}

/*----*/
.logo {
  width:22%;
  box-sizing: border-box;
  position: absolute;
   top: 20px;
   left: 170px;
}

.fa-html5 {
  color: #fff;
  margin-left: 50px;
}
/*--nav strip start here--*/
.header-main {
    background:#426bd5;
    padding: 0.2em 2em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}
.header-right {
    float: right;
    width: 80%;
}
.header-left {
    float: left;
    width: 20%;
}
.logo-name {
    float: left;
    width: 30%;
    margin: 0% 3% 0% 2%;
}
.logo-name h1 {
    font-size: 2.5em;
    color: #FC8213;
    margin: 0em;    
    text-decoration: none;
}
.logo-name h1 a, .logo-name h1{
	 color: #fff;
}
.logo-name h1 .sub-brand{
	color: #f6e387;
}
.logo-name a {
    display:inline-block;
}
.nav > li > a:hover, .nav > li > a:focus {
    background: none !important;
}
span.logo-clr{
	color:#fdbb30;
}
/*--- User Panel---*/
.profile_details_left {
    float: left;
        width: 50%;
}
.dropdown-menu {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
	-webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
	-moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
    border-radius: 0;
}
li.dropdown.head-dpdn {
    display: inline-block;
    padding: 1em 0;    
	float: left;
}
li.dropdown.head-dpdn a.dropdown-toggle {
   margin: 1em 2em;
}
ul.dropdown-menu li {
    margin-left: 0;
    width: 100%;
    padding: 0;
	background: #fff;
}
.user-panel-top ul{
	padding-left:0;
}
.user-panel-top li{
	float:left;
	margin-left:15px;
	position:relative;
}
.user-panel-top li span.digit{
    font-size:11px;
    font-weight:bold;
	color:#FFF;
	background:#e64c65;
	line-height:20px;
	width:20px;
	height:20px;
	border-radius:2em;
	-webkit-border-radius:2em;
	-moz-border-radius:2em;
	-o-border-radius:2em;	
	text-align:center;
	display: inline-block;
	position: absolute;
	top: -3px;
	right: -10px;
}
.user-panel-top li:first-child{
	margin-left:0;
}
.sidebar .nav-second-level li a.active ,.sidebar ul li a.active{
    color: #F2B33F;
}
li.active a i, .act a i {
    color: #F2B33F;
}
.custom-nav > li.act > a, .custom-nav > li.act > a:hover, .custom-nav > li.act > a:focus {
    background-color: #353f4f;
    color:#8BC34A;
}
.user-panel-top li a{
	display: block;
	padding: 5px;
	text-decoration:none;
}
.header-right i.fa.fa-envelope{
	color:#6F6F6F;
}
i.fa.fa-bell{
	color:#6F6F6F;
}
i.fa.fa-tasks{
	color:#6F6F6F;
}
.user-panel-top li a:hover{
	border-color:rgba(101, 124, 153, 0.93);
}
.user-panel-top li a i{
	width:24px;
	height:24px;
	display: block;
	text-align:center;
	line-height:25px;
}
.user-panel-top li a i span{
	font-size:15px;
	color:#FFF;
}
.user-panel-top li a.user{
	background:#667686;
}
.user-panel-top li span.green{
	background:#a88add;
}
.user-panel-top li span.red{
	background:#b8c9f1;
}
.user-panel-top li span.yellow{
	background:#bdc3c7;
}
/***** Messages *************/

.user_img{
	float:left;
	width:19%;
}
.user_img img{
	max-width:100%;
	display:block;
	border-radius:2em;
	-webkit-border-radius:2em;
	-moz-border-radius:2em;
	-o-border-radius:2em;
}
.wrapper-dropdown-2 .dropdown li a:hover .notification_desc p{
	color:#424242;
}
.notification_desc p span{
	color:#979797 !important;
	font-size:11px;
}

.header-right span.badge {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    background:#FC8213;
    line-height: 10px;
    width: 15px;
    height: 15px;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -o-border-radius: 2em;
    text-align: center;
    display: inline-block;
    position: absolute;
        top: 20%;
    padding: 2px 0 0;
}
h4, h5, h6, h1, h2, h3 {margin: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
  font-family: "korolev-compressed", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
   font-size: 100%;
   background:#fafafa; 
}
a {
  text-decoration: none;
}
a:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration:none;
}
.fixed{
	position: fixed;
	top: 0;
	 width:100%;
    margin: 0 auto;
	z-index: 1;
	background:#fff;
}
/*--header main start here--*/
.page-container {
  min-width: 1260px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}
.left-content {
    float: left;
    width: 80%;
}
.right-content {
    float: right;
    width: 20%;
}

/*----*/
.logo {
  width:22%;
  box-sizing: border-box;
  position: absolute;
   top: 20px;
   left: 170px;
}

.fa-html5 {
  color: #fff;
  margin-left: 50px;
}
/*--nav strip start here--*/
.header-main {
    background:#426bd5;
    padding: 0.2em 2em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}
.header-right {
    float: right;
    width: 80%;
}
.header-left {
    float: left;
    width: 20%;
}
.logo-name {
    float: left;
    width: 30%;
    margin: 0% 3% 0% 2%;
}
.logo-name h1 {
    font-size: 2.5em;
    color: #FC8213;
    margin: 0em;    
    text-decoration: none;
}
.logo-name h1 a, .logo-name h1{
	 color: #fff;
}
.logo-name h1 .sub-brand{
	color: #f6e387;
}
.logo-name a {
    display:inline-block;
}
.nav > li > a:hover, .nav > li > a:focus {
    background: none !important;
}
span.logo-clr{
	color:#fdbb30;
}
/*--- User Panel---*/
.profile_details_left {
    float: left;
        width: 50%;
}
.dropdown-menu {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
	-webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
	-moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
    border-radius: 0;
}
li.dropdown.head-dpdn {
    display: inline-block;
    padding: 1em 0;    
	float: left;
}
li.dropdown.head-dpdn a.dropdown-toggle {
   margin: 1em 2em;
}
ul.dropdown-menu li {
    margin-left: 0;
    width: 100%;
    padding: 0;
	background: #fff;
}
.user-panel-top ul{
	padding-left:0;
}
.user-panel-top li{
	float:left;
	margin-left:15px;
	position:relative;
}
.user-panel-top li span.digit{
    font-size:11px;
    font-weight:bold;
	color:#FFF;
	background:#e64c65;
	line-height:20px;
	width:20px;
	height:20px;
	border-radius:2em;
	-webkit-border-radius:2em;
	-moz-border-radius:2em;
	-o-border-radius:2em;	
	text-align:center;
	display: inline-block;
	position: absolute;
	top: -3px;
	right: -10px;
}
.user-panel-top li:first-child{
	margin-left:0;
}
.sidebar .nav-second-level li a.active ,.sidebar ul li a.active{
    color: #F2B33F;
}
li.active a i, .act a i {
    color: #F2B33F;
}
.custom-nav > li.act > a, .custom-nav > li.act > a:hover, .custom-nav > li.act > a:focus {
    background-color: #353f4f;
    color:#8BC34A;
}
.user-panel-top li a{
	display: block;
	padding: 5px;
	text-decoration:none;
}
.header-right i.fa.fa-envelope{
	color:#6F6F6F;
}
i.fa.fa-bell{
	color:#6F6F6F;
}
i.fa.fa-tasks{
	color:#6F6F6F;
}
.user-panel-top li a:hover{
	border-color:rgba(101, 124, 153, 0.93);
}
.user-panel-top li a i{
	width:24px;
	height:24px;
	display: block;
	text-align:center;
	line-height:25px;
}
.user-panel-top li a i span{
	font-size:15px;
	color:#FFF;
}
.user-panel-top li a.user{
	background:#667686;
}
.user-panel-top li span.green{
	background:#a88add;
}
.user-panel-top li span.red{
	background:#b8c9f1;
}
.user-panel-top li span.yellow{
	background:#bdc3c7;
}
/***** Messages *************/
.notification_header{
	background-color:#FAFAFA;
	padding: 10px 15px;
	border-bottom:1px solid rgba(0, 0, 0, 0.05);
	margin-bottom: 8px;
}
.notification_header h3{	
	color:#6A6A6A;
	font-size:12px;
	font-weight:600;
	margin:0;
}
.notification_bottom {
    background-color:rgba(93, 90, 88, 0.07);
    padding: 4px 0;
    text-align: center;
	margin-top: 5px;
}
.notification_bottom a {
    color: #6F6F6F;
	 font-size: 1em;
}
.notification_bottom a:hover {
    color:#6164C1;
}
.notification_bottom h3 a{	
	color: #717171;
	font-size:12px;
	border-radius:0;
	border:none;
	padding:0;
	text-align:center;
}
.notification_bottom h3 a:hover{	
	color:#4A4A4A;
	text-decoration:underline;
	background:none;
}
.user_img{
	float:left;
	width:19%;
}
.user_img img{
	max-width:100%;
	display:block;
	border-radius:2em;
	-webkit-border-radius:2em;
	-moz-border-radius:2em;
	-o-border-radius:2em;
}
.notification_desc{
	float:left;
	width:70%;
	margin-left:5%;
}
.notification_desc p{
	color:#757575;
	font-size:13px;
	padding:2px 0;
}
.wrapper-dropdown-2 .dropdown li a:hover .notification_desc p{
	color:#424242;
}
.notification_desc p span{
	color:#979797 !important;
	font-size:11px;
}
/*---bages---*/
.header-right span.badge {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    background:#FC8213;
    line-height: 10px;
    width: 15px;
    height: 15px;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -o-border-radius: 2em;
    text-align: center;
    display: inline-block;
    position: absolute;
        top: 20%;
    padding: 2px 0 0;
    left: 54%;
}
.header-right span.blue{
	background-color:#337AB7;
}
.header-right span.red{
	background-color:#ef553a;
}
.header-right span.blue1{
	background-color:#68AE00;
}
i.icon_1{
  float: left;
  color: #00aced;
  line-height: 2em;
  margin-right: 1em;
}
i.icon_2{
  float: left;
  color:#ef553a;
  line-height: 2em;
  margin-right: 1em;
  font-size: 20px;
}
i.icon_3{
  float: left;
  color:#9358ac;
  line-height: 2em;
  margin-right: 1em;
  font-size: 20px;
}
.avatar_left {
  float: left;
}

/*---//bages---*/

/********* profile details **********/
ul.dropdown-menu.drp-mnu i.fa {
    margin-right: 0.5em;
}
ul.dropdown-menu {
    padding: 0;
    min-width: 230px;
    top:101%;
}
.dropdown-menu > li > a {
    padding: 3px 15px;
	font-size: 1em;
}
.nav_details {
    float: left;
}
.nav_details_drop .fa.fa-angle-up{
	display:none;
}
.nav_details_drop.open .fa.fa-angle-up{
    display:block;
}
.nav_details_drop.open .fa.fa-angle-down{
	display:none;
}
.nav_details_drop a.dropdown-toggle {
    display:block;
	padding:0em 2em 0 2.5em;
}
.nav_details ul li{
	list-style-type:none;
	position:relative;
	float:left;
}
.nav-link{
	height:30px;
}
.nav-link p{
	font-size:.75em;
	color:#fff;
	line-height:3em;
	font-weight:normal;
}
.nav_details li a i.fa.lnr {
    position: absolute;
    top: 34%;
    right: 8%;
    color: #fff;
    font-size: 1em;
}
.nav_details ul li ul.dropdown-menu.drp-mnu {
    padding: 1em;
    min-width: 180px;
    top: 100%;
    left:0%;
}

.profile_details {
    float: right;
}
.profile_details_drop .fa.fa-angle-up{
	display:none;
}
.profile_details_drop.open .fa.fa-angle-up{
    display:block;
}
.profile_details_drop.open .fa.fa-angle-down{
	display:none;
}
.profile_details_drop a.dropdown-toggle {
    display:block;
	padding:0em 3em 0 1em;
}
.profile_img span.prfil-img{
	float:left;
	margin-top:0.2em;
}
.user-name{
	 float:left;	
	 margin-left:11px;
	 height:30px;
}
.profile_details ul li{
	list-style-type:none;
	position:relative;
}
.profile_details li a i.fa.lnr {
    position: absolute;
    top: 34%;
    right: 8%;
    color: #fff;
    font-size: 1em;
}
.profile_details ul li ul.dropdown-menu.drp-mnu {
    padding: 1em;
    min-width: 180px;
    top: 100%;
    left:0%;
}
ul.dropdown-menu.drp-mnu li {
    list-style-type: none;
    padding: 3px 0;
}
.user-name p{
	font-size:.75em;
	color:#fff;
	line-height:3em;	
}
.user-name span {
    font-size: .75em;
    font-style: italic;
    color: #424f63;
    font-weight: normal;
    margin-top: .3em;
}
.profile_details ul {
    padding: 0px;
}
/*--header strip end here-*/
/*inner-block--*/
.inner-block {
    padding: 0em 5.9em;
    background: #fafafa;
}
.balance-info{
	margin:30px 0 10px 0;
}
.balance-info-block {
    padding: 2em 1em;
    background: #fff;
}
.balance-info-block h3 {
    color: #000;
    font-size: 2.5em;
    font-family: "korolev-compressed", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.balance-info-block h4 {
	font-size: 1.2em;
    color: #000;
    margin: 0.3em 0em;
   font-family: "korolev-compressed", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.balance-info-block p {
    color: #000;
    font-size: 0.8em;
    line-height: 1.8em;
}
.balance-info-block.clr-block-1 {
    background: #f3e5f2;    
	border-radius:3px;
	min-width:170px;
	min-height:95px;
	margin:20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  
}
.balance-info-block.clr-block-2 {
    background:#ddf3e7;    
	border-radius:3px;
	min-width:170px;
	min-height:95px;
	margin:20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.balance-info-block.clr-block-3 {
    background:#e5bebf;
	border-radius:3px;
	min-width:170px;
	min-height:95px;
	margin:20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.icon-container{
	width:34px;
	height:34px;
	padding: 5px;
	border-radius: 50%;
	text-align: center;
	margin: 2px 0;	
}
.balance-info-right{
	padding:0 0 0 10px;
}
.balance-info-right h3{
	font-size:1.5em;
}
.balance-info-right h6{
	font-size:0.7em;
}
.btn-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1.33;
    background-color: #fff;    
    border: none;
    vertical-align: middle;
    text-align: center;
	cursor:auto;
}
.icon-container-pink{
	background-color:#de5cc6;
}
.btn-icon-pink {
	color: #f0c0e8;
}
.icon-container-green{
	background-color:#84d4a1;
}
.btn-icon-green {
	color: #ace3c4;
}
.icon-container-dpink{
	background-color:#c85857;
}
.btn-icon-dpink {
	color: #d58787;
}
.balance-info-right i.fa.fa-file-text-o {
    font-size: 3em;
    color:#68AE00;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    border-radius: 49px;
    -webkit-border-radius: 49px;
    -moz-border-radius:49px;
    -o-border-radius:49px;
    line-height: 1.7em;
}
.spend-button{
	width:170px;
	height:40px;
	background-color:#426bd5;	
	border-radius:3px;
	color:#fff;
	backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
	border:none;
}
.support-button{
	width:116px;
	height:40px;
	background-color:#426bd5;	
	border-radius:20px;
	color:#fff;
	float:right;
	margin:20px;
	backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
	border:none;
}
/*-- start here--*/

.money-icon{
	float: left;
	display:inline;
    margin-top: -0.1em;
}
.panel {
    padding: 1em 1em;
    margin-bottom:0px;
    background: none;
    box-shadow: none;
}
.ledger-report {
    margin:2em  0em;
}
.component-header {
    font-size: 24px;
    font-weight: 700;
    color: #5F5D5D;
	font-family: "korolev-compressed", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    margin: 0px;
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: #fffcf2;
    color: #000;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #d2ba4e;
    cursor: pointer;
    border-radius: 3px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float:right;
}
.dropdown-txt{
	margin-right:30px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right:0%;
  font-size: 12px; 
  border:1px solid #e3e3e3;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  cursor:pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f5f5f5;	
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #f7edcd;
}
.ml-header{
    margin-left:15px;
}
.ledger-report table td{
	vertical-align:middle !important;
	padding:15px !important;
}
.work-progres {
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
    padding: 1.34em 1em;
    background: #fff;
	border-radius:10px;
	margin-top:20px;
}
.work-progres table{
	margin-bottom:0;
}
.work-progres .label{
	font-size:14px;
	font-weight:normal;
}
.label-credit{
	color:#0EC708;	
}
.label-debit{
	color:#c85c5b;	
}
.label-blank{
	color:#757575;	
}
.datetime-span{
	font-size:12px;
}
 .button-balinfo {
    backface-visibility: hidden;
    position: relative;    
    display: inline-block;
    white-space: nowrap;
    background: #f4f4fe;
    border-radius: 5px;
    border: 2px solid #426bd5;
    padding: 3px 10px 2px 10px;
    color: #426bd5;
    font-size: 14px;
    font-family: "korolev-compressed", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-weight: 100;
    font-style: normal;
    min-width: 65px;
    height: 30px;
    vertical-align: middle;
  }
  .button-balinfo > div { 
  font-family: "korolev-compressed", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-weight: initial;
  font-style: normal;
  text-align: center;
  margin: 0px 0px 0px 0px
  }
  .button-balinfo > i {
    color: #6ec286;
  font-size: 1em;
  background: #ffffff;
  border-radius: 88px;
  border: 0px solid #6ec286;
  border-width: 0px 0px 0px 0px;
  padding: 4px 4px 4px 4px;
  margin: 0px 010px 0px 0px;
  position: absolute;
  top: 9px;
  left: 17px;
  width: 24px;
  height: 24px
  }
  .buttobutton-balinfon > .ld {
    font-size: initial
  }

/*--grids start here--*/
.cols-grids h2 {
    font-size: 2em;
    color: #68AE00;
    margin-bottom: 1em;
    font-family:"korolev-compressed", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
/*-- grids --*/
.mb40 {
    margin-bottom: 40px !important;
}
.demo-grid {
    background: #FFF;
    border: 1px solid #d9d9d9;
    padding: 10px 0;
}
code {
    padding: 0;
    background: none;
    color: #B7B7B7;
}
.mb40:nth-child(9){
	margin-bottom:0 !important;
}
.cols-grids {
    padding: 1em 1em;
    margin-bottom: 0px;
    background: none;
    box-shadow: none;
}

/*--icons --*/
.boost-icons-head h2 {
    font-size: 2em;
    color: #68AE00;
    margin-bottom: 1em;
    font-family: "korolev-compressed", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.boost-icons-list ul {
    list-style: none;
    padding: 0px;
}
.boost-icons-list ul li {
    float: left;
    width: 19%;
     font-size: 1em;
    margin: 0% 1% 1% 0%;
    padding: 3em 0.5em;
    text-align: center;
    background: #FFFFFF;
    color:#000;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
}
i.glyphicon {
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    color:#337AB7;
}
/*--//icons--*/
/*--typography--*/
.typography {
    font-family: "korolev-compressed", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
p.grid1 {
    margin-bottom: 1em;
}
.typography .progress {
    height: 20px;
    margin: 20px 0;
}
.page-header {
    padding-bottom: 9px;
    margin: 19px 0 12px;
    border: none;
}
.grid_3.grid_4 {
    background: #fff;
    padding: 1em 2em;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
}
.typo-buttons {
    background: #fff;
    padding: 1em 2em;
    box-shadow: -1px 0px 2px 1px rgba(0,0,0,0.15);
    margin: 2em 0em;
}
.typo-alerts {
    background: #fff;
    padding: 1em 2em;
    box-shadow: -1px 0px 2px 1px rgba(0,0,0,0.15);
}
.typo-progresses {
    background: #fff;
    padding: 1em 2em;
    margin: 2em 0em;
    box-shadow: -1px 0px 2px 1px rgba(0,0,0,0.15);
}
.typo-wells {
    background: #fff;
    padding: 1em 2em;
    margin-bottom: 2em;
    box-shadow: -1px 0px 2px 1px rgba(0,0,0,0.15);
}
.typo-badges {
    background: #fff;
    padding: 1em 2em;
    box-shadow: -1px 0px 2px 1px rgba(0,0,0,0.15);
}
.page-header h3 {
    font-size: 2em;
}
.typo-wells h3 {
    font-size: 2em;
     margin-bottom: 1em;
}
.typo-badges h3 {
    font-size: 2em;
     margin-bottom: 1em;
}
.col-lg-6.mb-60 .nav-tabs > li > a {
    background:#ECEAEA;
    color: #565555;
}
.tab-content {
    padding: 1em;
}
.tab-content p {
    font-size: 1em;
    color: #000;
    line-height: 1.8em;
}
.col-lg-6.mb-60 h4 {
    font-size: 2em;
    margin-bottom: 0.5em;
}
.pad-0{
	padding:0px;
}
.pr-5{
	padding-right:5px;
}	
.mar0{
	margin:0 auto;
	text-align:center;
}


input[type=checkbox].css-checkbox3,input[type=checkbox].css-checkbox4,input[type=checkbox].css-checkbox5,input[type=checkbox].css-checkbox6{
	display: none;
}
input[type=checkbox].css-checkbox3 + label.css-label3 {
	height: 22px;
	width: 21px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 -38px;
	vertical-align: middle;
	cursor: pointer;
	
}
input[type=checkbox].css-checkbox3:checked + label.css-label3 {
	background-position: 0px 0px;
}
input[type=checkbox].css-checkbox4 + label.css-label4 {
	height: 22px;
	width: 21px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 0px;
	vertical-align: middle;
	cursor: pointer;
}
input[type=checkbox].css-checkbox4:checked + label.css-label4 {
	background-position: 0px -38px;
}
input[type=checkbox].css-checkbox5 + label.css-label5 {
	height: 22px;
	width: 21px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 -38px;
	vertical-align: middle;
	cursor: pointer;
}
input[type=checkbox].css-checkbox5:checked + label.css-label5 {
	background-position: 0px 0px;
}
input[type=checkbox].css-checkbox6 + label.css-label6 {
	height: 22px;
	width: 21px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 0px;
	vertical-align: middle;
	cursor: pointer;
}
input[type=checkbox].css-checkbox6:checked + label.css-label6 {
	background-position: 0px -38px;
}

/*--meadia quiries start here--*/
@media (max-width:1440px){
.page-container.sidebar-collapsed-back .sidebar-menu {
    width: 190px;
}
.sidebar-menu {
    width: 190px;
}
.logo {
    left: 130px;
}
.page-container.sidebar-collapsed .logo {
    left: 16px;
}
canvas#bar {
    width: 515px !important;
}
.malorm-bottom p {
    width: 90%;
}
span.malorum-pro {
    left: 225px;
}
canvas#line {
    width: 490px !important;
}
}
@media (max-width:1366px){
canvas#bar {
    width: 485px !important;
}
.popular-bran-left h4 {
    font-size: 0.8em;
}
.left-content {
    width: 80%;
}
#menu li a {
    padding: 12px 20px;
}
canvas#line {
    width: 460px !important;
}
canvas#radar {
    width: 480px !important;
}
.btn-group.m-r-sm.mail-hidden-options {
    margin: 0em 0.3em;
}
li.dropdown.head-dpdn a.dropdown-toggle {
    margin: 1em 1.8em;
}
.logo-name h1 {
	font-size: 1em;
    margin-top: 0.5em;
}
#menu .fa {
    margin-bottom: 3px;
}
.project-eff:hover span.rollover1 {
    width: 243px;
}
.search-box input[type="text"] {
    width: 85%;
}
.boost-icons-list ul li {
    font-size: 0.9em;
}
}
@media (max-width:1280px){
.left-content {
    width: 85%;
}
.market-update-block p {
    font-size: 0.75em;
}
.market-update-right {
    padding: 0px;
}
.malorm-bottom p {
    width: 100%;
}
canvas#bar {
    width: 440px !important;
}
.popular-bran-left h4 {
    font-size: 0.75em;
}
.popular-bran-left p {
    font-size: 0.9em;
}
canvas#line {
    width: 410px !important;
}
span.malorum-pro {
    left: 190px;
}
canvas#radar {
    width: 445px !important;
}
.btn-group.m-r-sm.mail-hidden-options {
    margin: 0em 0.1em;
}
.text-muted {
    font-size: 0.8em;
}
.popular-bran-left {
    padding: 2.3em 1em;
}
li.dropdown.head-dpdn a.dropdown-toggle {
   margin: 1em 1.6em;
}
.mail-pic {
    width: 40%;
}
.mailer-name {
    width: 60%;
}
canvas#doughnut {
    width: 420px !important;
}
canvas#pie {
    width: 415px !important;
}
.project-eff:hover span.rollover1 {
    width: 222px;
}
.search-box input[type="text"] {
    width: 83%;
}
}
@media (max-width:1024px){
.header-main{
	padding:0.2em;
}
.nav_details_drop a.dropdown-toggle {
    padding: 0em 1.2em 0 0.5em;
}
.page-container {
    min-width: 990px;
}
.logo-name {
    float: left;
    width: 30%;
    margin:0% 4% 0% 0%;
}
.logo-name {
    width: 37%;
}
.
.profile_details {
    float: right;
    width: 50%;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}
.profile_details_drop a.dropdown-toggle {
    display: block;
    padding: 0em 2em 0 1em;
}
.left-content {
    width: 70%;
}
.right-content {
    width: 30%;
}
.dropdown-txt{
	margin-right:5px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    font-size: 0.86em;
}
.panel-body {
    padding: 20px;
    font-size: 0.9em;
}

.float-right {
    width: 60%;
}
.product-items {
    margin-bottom: 2em;
}
.col-lg-6.mb-60 h4 {
    font-size: 1.5em;
    margin-bottom: 0.2em;
}
.product-grid {
    padding: 0px 12px 0px 0px;
}
.profile_details_left ul {
    padding: 0px;
}

}
@media (max-width:991px){

/*--logoname--*/
.logo-name {
    width: 100%;
    margin: 0% 1% 0% 0%;
}

.logo-name h1 {
    font-size: 1.7em;
        margin-top: 0.3em;
}

li.dropdown.head-dpdn a.dropdown-toggle {
    margin: 1em 1em;
}
.profile_details_drop a.dropdown-toggle {
    padding: 0em 1em 0.4em 0em;
}
.profile_details li a i.fa.lnr {
    top: 30%;    
}
.profile_details_drop a.dropdown-toggle{
	padding: 0em 2em 0 0.5em;
}
}

@media (max-width:768px){
.page-container {
	min-width:650px;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	margin: 0px auto;
 }
.inner-block
{
	padding:1em;
}
.left-content {
	float: left;
    width: 65%;
}
.right-content {
	float: right;
    width: 35%;
}

.fixed {
    width: 100%;
}

.logo {
    left: 16px;
}
.profile_details_drop a.dropdown-toggle {
    padding: 0em 2em 0 0.5em;
}

}			
@media (max-width:736px){
.malorm-bottom p {
    font-size: 0.7em;
}	

}
@media (max-width:667px){
li.dropdown.head-dpdn a.dropdown-toggle {
    margin: 1em 0.9em;
}
.user-name {
    margin-left: 10px;	
}
canvas#bar {
    width: 238px !important;
}
.logo-name h1 {
    font-size: 1.6em;
    margin-top: 0.35em;
}
canvas#line {
    width: 234px !important;
}
canvas#doughnut {
    width: 235px !important;
}
canvas#polarArea {
    width: 235px !important;
}
canvas#pie {
    width: 235px !important;
}
}
@media (max-width:640px){
.header-left {
    float: none;
    width: 100%;
    margin-bottom: 0.4em;
	text-align:center;
}	

.header-right {
    float: none;
    width: 100%;
}
.logo-name h1 {
    font-size: 1.9em;
}
.logo-name h1 {
    font-size: 2em;
}
.inner-block {
    padding:1em;
}
.btn {
    padding: 6px 12px;
    font-size: 13px;
}


.left-content {
    width:100%;
}
.right-content {
    width:100%;
}
.page-container {
    min-width: 640px;
}
.typo-buttons {
    padding: 1em 1em;
}
.typo-alerts {
    padding: 1em 1em;
}
.typo-progresses {
    padding: 1em 1em;
}
.typo-wells {
    padding: 1em 1em;
}
.typo-badges {
    padding: 1em 1em;
}
.spend-button, .support-button {
    float: none;
    text-align: center;
    margin: 10px auto;    
}
.mb40 {
    margin-bottom: 20px !important;
}
}
@media (max-width:600px){
.page-container {
    min-width: 600px;
}
.left-content {
    width:100%;
}
.right-content {
    width:100%;
}
.spend-button, .support-button {
    float: none;
    text-align: center;
    margin: 10px auto;    
}
}
@media (max-width:568px){
.page-container {
    min-width: 565px;
}
canvas#bar {
    width: 409px !important;
}
.search-box input[type="text"] {
    width: 88%;
}
canvas#line {
    width: 415px !important;
}
}
@media (max-width:480px){
.page-container {
     min-width: 480px;
}
.market-update-gd {
    float: none;
    width: 100%;	
}
.left-content {
    width: 100%;
}
.right-content {
    width: 100%;
}
.inner-block {
    padding: 0em;
}
.profile_details li a i.fa.lnr {
    right: 5%;
}
.dropdown-txt{
	margin:0 4px 0 0;
	font-size:100%;
}
.ledger-report .col-lg-9.col-md-9.col-sm-8.col-xs-6{
	padding-left:0px;
}
.component-header,{
	margin:0px;
}
.balance-info, .ml-header{ 
	margin:0;
}
.balance-info-block.clr-block-1,
.balance-info-block.clr-block-2, 
.balance-info-block.clr-block-3{
	width:100%;
	margin: 20px 0;
}
.spend-button,.support-button
{
	float:none;
	text-align:center;
	margin:10px auto;
	width:100%;
}
.float-left {
    float: none;
    width: 100%;
}
.float-right {
    width: 100%;
    float: none;
    margin-top: 0.8em;
}
.nav_details ul , .profile_details ul
{
padding:0;
}
.nav_details ul li,.profile_details ul li {
    width: 100%;
    padding: 5px 0px;
    border-bottom: 1px solid #fff;
}
.nav_details, .profile_details{
	width:100%;
	}
.profile_details ul li
{
	border: none;
}
}
@media (max-width:414px){
.page-container {
    min-width: 410px;
}
.nav-details{
	width:100%;
}

}
@media (max-width:384px){
.page-container {
    min-width: 380px;
}
.left-content {
    width: 100%;
}
.header-main {
    padding: 1em 1em;	
}
.fixed {
    width: 83%;
}
.logo-name h1 {
    font-size: 1.8em;
    margin-top: 0em;
}
.popular-bran-left p {
    font-size: 0.8em;
    margin-top: 0.5em;
}
.popular-follo-left {
    padding: 1.5em 1em;
}
.popular-follo-left p {
    font-size: 0.8em;
}
.search-box input[type="text"] {
    width: 82%;
}
.profile_details ul li ul.dropdown-menu.drp-mnu {
    min-width: 146px;
}
ul.dropdown-menu {
    min-width: 198px;
}
.profile_details li a i.fa.lnr {
    right: 8%;
}


}

@media (max-width:375px){
html{font-size: 100%}
.page-container {
    min-width: 375px;	
}
.balance-info-right h6{	
font-size:100%;
}
.nav_details ul , .profile_details ul
{
padding:0;
}
.nav_details ul li,.profile_details ul li {
    width: 100%;
    padding: 5px 0px;
    border-bottom: 1px solid #fff;
}
.nav_details, .profile_details{
	width:100%;
	}
.profile_details ul li
{
	border: none;
}
}
@media (max-width:320px){
.page-container {
    min-width: 303px;
	font-size: 100%;
}
.logo-name h1 {
    font-size: 1.4em;
}
.left-content {
    width: 100%;
}
.header-main {
    padding: 1em 0.5em;	
}
.nav_details{
	width:100%;
}
.nav_details ul , .profile_details ul
{
padding:0;
}
.nav_details ul li,.profile_details ul li {
    width: 100%;
    padding: 5px 0px;
    border-bottom: 1px solid #fff;
}
.profile_details{
	width:100%;
	}
.profile_details ul li
{
	border: none;
}







.logo {
    left: 7px;
}
.page-container.sidebar-collapsed .logo {
    left: 7px;
}
#menu li a {
    padding: 15px 10px;
    font-size: 1em;
}
ul.dropdown-menu {
    min-width: 195px;
}
.profile_details ul li ul.dropdown-menu.drp-mnu {
    min-width: 160px;
}
.popular-follo-right h4 {
    font-size: 1em;
}
.popular-follo-right h5 {
    font-size: 0.85em;
}
.popular-follo-right {
    padding: 1.45em 1em;
}
.popular-bran-left h3 {
    font-size: 1em;
}

}